@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-ibm-plex-mono);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* Your default theme */
  --background: #fbfaf0;
  --foreground: #082630;
}

[data-theme='dark'] {
  --background: #082630;
  --foreground: #fbfaf0;
}
